@mixin before_circle ($top) {
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: $top;
        left: 0;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
    }
    div.aboutme__icon & {
        top: 0;
    }
}