.btn {
    height: 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 8px 21px;
    border: $main-color 2px solid;
    background: none;
    &_active {
        background: $main-color;
    }
}