@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .aboutme {
        &__wrapper {
            grid-template-columns: 400px 530px;
            column-gap: 30px;
        }
        &__skills {
            grid-template-columns: repeat(2,240px);
            column-gap: 20px;
        }
        &__item {
            grid-template-columns: 40px 180px;
            gap: 10px;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 410px);
            column-gap: 80px;
        }
    }
    .myskills {
        &__items {
            grid-template-columns: repeat(3,270px);
            justify-content: center;
        }
        &__stats {
            grid-template-columns: repeat(2,400px);
            grid-auto-rows: 70px;
            justify-content: center;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fs36 {
            font-size: 30px;
        }
    }
    .aboutme {
        &__wrapper {
            grid-template-columns: 300px 380px;
            column-gap: 30px;
        }
        &__skills {
            grid-template-columns: 380px;
        }
        &__item {
            grid-template-columns: 40px 320px;
            gap: 20px;
        }
    }
    .resume {
        &__wrapper {
            padding: 0;
            grid-template-columns: repeat(2, 310px);
            column-gap: 60px;
            justify-content: center;
        }
    }
    .myskills {
        &__items {
            grid-template-columns: repeat(2, 270px);
        }
        &__stats {
            grid-template-columns: repeat(2,300px);
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fs48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            width: 300px;
            line-height: 39px;
        }
    }
    .aboutme {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
        }
        &__item {
            grid-template-columns: 40px 200px;
        }
    }
    .resume {
        padding-top: 40px;
        .divider {
            margin-top: 15px;
        }
        &__wrapper {
            margin-top: 40px;
            padding: 0 20px;
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
    }
    .myskills {
        padding-top: 40px;
        .divider {
            margin-top: 15px;
        }
        &__items {
            margin: 20px 0 0 0;
            grid-template-columns: repeat(2, 250px);
            grid-auto-rows: 250px;
        }
        &__item {
            padding: 20px 20px;
        }
        &__stats {
            padding-top: 40px;
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fs48 {
            font-size: 26px;
        }
        &_fs36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        &__btns {
            margin-top: 30px;
        }
    }
    .aboutme {
        &__subtitle {
            line-height: 36px;
            margin-top: 20px;
        }
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        &__subtitle {
            line-height: 36px;
            margin-top: 20px;
        }
        &__wrapper {
            padding: 0;
        }
    }
    .myskills {
        &__subtitle {
            line-height: 36px;
            margin-top: 20px;
        }
        &__items {
            grid-template-columns: 270px;
            grid-auto-rows: 270px;
        }
        &__item {
            padding: 30px;
        }
    }
}