.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/bg/main.jpg') no-repeat center / cover;
    padding-top: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;
        color: white;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 280px;
        align-items: center;
        justify-content: space-between;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        color: $main-color;
        text-shadow: #000 0 0 3px;
        @include before_circle (-25%);
        &:before {
            opacity: .5;
        }
    }
    &__link {
        display: block;
        width: 135px;
        text-align: center;
        color: $main-color;
        font-weight: bold;
        transition: all .6s;
        &:hover {
            color: #000;
            text-decoration: none;
            text-shadow: none;
        }
    }
}